[Unit]
Description=VHS :: Backend For Frontend
After=network.target

[Service]
ExecStart=/opt/vhs/env/bin/python3 /opt/vhs/src/bff.service/start.py 
WorkingDirectory=/opt/vhs/src/bff.service
User=kakashi
Group=kakashi
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target