[Unit]
Description=VHS :: Head Inference Service 
After=network.target

[Service]
ExecStart=/opt/vhs/env/bin/python3 /opt/vhs/src/api.models/start.py --port 5000 --width 640 --height 640 --model yolov8n_relu6_human_head--640x640_quant_hailort_hailo8l_1
WorkingDirectory=/opt/vhs/src/api.models
User=kakashi
Group=kakashi
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target