[Unit]
Description=VHS :: Main Camera Service
After=network.target

[Service]
ExecStart=/opt/vhs/env/bin/python3 /opt/vhs/src/camera.service/start.py 
WorkingDirectory=/opt/vhs/src/camera.service
User=kakashi
Group=kakashi
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target